
/* NEW */

* {
    box-sizing: border-box;
    border: 1px solid red;
}

body {
    margin: 0;
}

/* Чтобы прибить футер к низу как надо по стандарту, мы обертке даем флекс и flex-direction: colum - ставим в колонку
(сверху - хедер, середина - мейн, низ - футер ). Потом мейну flex-grow: 1; */
.wrapper {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.header {
    background-color: yellow;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer {
    background-color: green;
    padding: 10px;
    text-align: center;
}

/* для подстраховки если ширина будет маленькая ставим 100% ширину */
.main {
    flex-grow: 1;
    display: flex;
    width: 100%;
}

/* первые 3 пункта - стандартное обнуление для списков */
.menu {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
}

.menu li {
    padding: 0 5px;
}

.menu a{
    text-decoration: none;
    color: #000000;
    padding: 0 10px;
}

/* Боковой панели flex-shrink: 0, чтобы запретить ужимать ширину */
.sidebar {
    width: 200px;
    text-align: center;
    padding: 20px;
    flex-shrink: 0;
    background-color: blue;
}

/* ордером минусовым ставим элемент в начало */
.sidebar.left {
    background-color: purple;
    order: -1;
}

/* отсупы в главной секции и flex-growЖ: 1 */
.content {
    flex-grow: 1;
    padding: 20px 15px;
}

h1,
h4{
    text-align: center;
}

p{
    text-align-last: center;
    text-align: justify;
    padding: 0 5px;
}

/* общая обертка для карточек */
.card-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

/* Для зазора между карточками или карточке сделать внутреннюю обертку (той 33,3% ширину + padding: 10px) или вычисляем 
width: calc ( ширина - отступы, неважно что разные единицы измерения). Нижний падинг такой большой, чтобы в нем разместить
кнопку и тогда контент никогда не будет на нее наезжать. Высоту карточки не задавать, если у блока есть контент. 
Если фоновая картинка на карточке, картинке высоту или мин высоту задать.  */
.card {
    padding: 20px 20px 60px;
    border: 2px solid #ac749f;
    border-radius: 10px;
    width: calc(33.333% - 10px);
    margin-bottom: 20px;
    position: relative;
}

.card:hover{
    box-shadow: 0px 1px 8px -1px rgba(0,0,0,0.75);
}

/* Для индексации поисковиками  и скачивания пользователем, картинку лучше тегом img, а не с помощью bacground-size.
 Так только фоновую картинку, что смысловой нагрузки не несет. */
.img-card{
    width: 100px;
    height: 100px;
    background-size: cover;
    border-radius: 50%;
    border: 10px solid #ac749f;
    margin: 0 auto;
}


/* Прибить кнопу к низу можно 2 способами. Первый - это позиционирование, что лучше. Положить ее в нижний паддинг,
чтобы контент не наезжал и спозиционировать. Координаты выставить или top (0) + left(0) или top + text-aling: center для кнопки 
(обертки кнопки). Чтобі не размівало контент в кнопке и рядом нужно + transform 50%. Второй способ - с помощью flex.
Контент выше кнопки в один блок собрать. Общему родителю этого контента и кнопки flex + space-between или контейнеру с
контентом задать flex-grow: 1. Кнопка в виде ссылок, когда непонятен или неизвестен функционал. Кнопка в виде button, 
для привязки к js, submit и тп */
.btn-wrap {
    text-align: center;
    position: absolute;
    bottom: 15px;
    left: 0;
    right: 0;
}

/* сама кнопка - ссылка */
.btn{
    background-color: #a76999;
    border-radius: 45%;
    padding: 3px 10px;
    color: #ffffff;
    cursor: pointer;
    text-decoration: none;
}

.btn:hover{
    box-shadow: 4px 1px 8px 3px rgba(0,0,0,0.68);
}

@media (max-width: 767px) {
    .main {
        display: block;
    }
}



/* Третье задание */

.holder-wrapper{
    margin: 50px 0;
}

.holder{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 350px;
    width: 100%;
    margin: 0 auto;
}

.item{
    width: 116px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.item:nth-child(1){
    background-color: red;   
    width: 175px; 
    border-radius: 10% 0 0 0;
    border-top: 2px solid #000000;
    border-left: 2px solid #000000;
}

.item:nth-child(2){
    background-color: blue;
    order: 4;
    border-bottom: 2px solid #000000;
}

.item:nth-child(3){
    background-color: purple;
    order: 3;   
    border-bottom: 2px solid #000000;;
    border-left: 2px solid #000000;; 
}

.item:nth-child(4){
    background-color: green;
    order: 5;
    border-right: 2px solid #000000;
    border-bottom: 2px solid #000000;
}

.item:nth-child(5){
    order: 1;
    background-color: yellow;  
    width: 175px;
    border-top: 2px solid #000000;
    border-right: 2px solid #000000;
    border-radius: 0 10% 0 0;
}